.BurpSuite
.X*
.arduino15
.bash*
.ca*
.xses*
.zoom
.evilginx
.f*
.gnome
.gnupg
.java
.john
.kde4
.l*
.m*
.n*
.pki
.profile
.python_history
.s*
.t*
.v*
.w*
.dmrc
.zcompdump
.zsh_history
Arduino
Descargas
Documentos
Escritorio
Imágenes
Música
b*
jdk-19
paru
go
zshawes
NetBeansProjects
notes.txt
mysql.log
Videos
PycharmProjects
BurpSuiteCommunity
.dotnet
.config/xdg-terminals.list
.config/pacmixer/
.config/nautilus/
.config/Docker*
