BraveSoftware
Code - OSS
Electron
Foxit Software
GIMP
GeoGebra
JetBrains
KDE
*.conf
*.ini
*.old
*rc
kde*
m*
r*
u*
xfce4
starship
spotify
session
qtile
pulse
ncmp*
kn*
kicad
khtml
gpick
eD*
dis*
c*
Thunar
lib*
